@charset "UTF-8";
@media (min-width: 320px) and (max-width: 375px) {
  /* Header */
  .logo {
    text-align: center;
    margin-top: 3.5%;
    margin-bottom: 3.5%;
  }
  .logo img {
    width: 156.8px;
    height: 27.88px;
  }

  /* Section */
  #localisation {
    display: flex;
    height: 50px;
    border-top: solid 2px #CFCFCF;
    box-shadow: inset 0px 2px #DDDDDD;
    align-items: center;
    justify-content: center;
    background-color: #EAEAEA;
    font-size: 0.9rem;
    font-weight: bold;
  }
  #localisation #map_maket_alt {
    margin-right: 1em;
  }

  #reservez_le_menu {
    height: 260px;
    padding-top: 11%;
    margin-bottom: 15%;
    background-color: #F6F6F6;
    text-align: center;
  }
  #reservez_le_menu h1 {
    font-size: 1.45rem;
    font-weight: bold;
    margin-bottom: 3%;
  }
  #reservez_le_menu p {
    font-size: 1rem;
    margin-bottom: 8%;
  }
  #reservez_le_menu .bouton {
    width: 60%;
    height: 46px;
    border-radius: 10rem;
    box-shadow: 2px 2px 2px grey;
    background: linear-gradient(#ff79da, #9356dc);
    box-shadow: 2px 2px 2px rgba(82, 81, 81, 0.9);
    align-items: center;
    line-height: 3.2;
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0 auto;
    cursor: pointer;
    transform: scale(1);
    transition: transform 400ms;
  }
  #reservez_le_menu .bouton:hover {
    background: linear-gradient(rgba(255, 121, 218, 0.9), rgba(147, 86, 220, 0.9));
    box-shadow: 2px 5px 5px #525151;
  }
  #reservez_le_menu .bouton .restaurants {
    color: white;
  }

  /* Fontionnement */
  #fonctionnement {
    width: auto;
    height: 355px;
  }
  #fonctionnement h2 {
    font-size: 1.4rem;
    margin-left: 6%;
    margin-bottom: 10%;
  }
  #fonctionnement .cartouche {
    width: 85%;
    height: 60px;
    border-radius: 1rem;
    box-shadow: 5px 5px 15px 5px #E6E6E6;
    background: #F6F6F6;
    line-height: 4.4;
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 8%;
  }
  #fonctionnement .cartouche .num_etape {
    position: relative;
    right: 8px;
    padding: 1.5% 3% 1.5% 3%;
    border-radius: 50%;
    background-color: #9356DC;
    font-size: 0.7rem;
    color: white;
    margin-right: 3%;
  }
  #fonctionnement .cartouche .fas.fa-mobile-alt, #fonctionnement .cartouche .fas.fa-list {
    font-size: 1.1rem;
    margin-right: 6%;
    color: grey;
  }
  #fonctionnement .cartouche .etape {
    color: black;
  }
  #fonctionnement .cartouche3 {
    width: 85%;
    height: 60px;
    border-radius: 1rem;
    box-shadow: 5px 5px 15px 5px #E6E6E6;
    background: rgba(147, 86, 220, 0.15);
    line-height: 4.4;
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 8%;
  }
  #fonctionnement .cartouche3 .num_etape {
    position: relative;
    right: 8px;
    padding: 1.5% 3% 1.5% 3%;
    border-radius: 50%;
    background-color: #9356DC;
    font-size: 0.7rem;
    color: white;
    margin-right: 3%;
  }
  #fonctionnement .cartouche3 .fa-itch-io {
    font-size: 1.1rem;
    margin-right: 6%;
    color: grey;
  }
  #fonctionnement .cartouche3 .etape {
    color: black;
  }
  #fonctionnement .cartouche3 .fab.fa-itch-io {
    color: #9356DC;
  }

  /* Restaurants */
  #restaurants {
    height: 1125px;
    padding-top: 15%;
    background-color: #F6F6F6;
  }
  #restaurants h3 {
    font-size: 1.4rem;
    margin-left: 6%;
    margin-bottom: 6%;
  }
  #restaurants #les_restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #restaurants #les_restaurants .le_restaurant {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 230px;
    border-radius: 6%;
    box-shadow: 5px 5px 15px 5px #E6E6E6;
    background-color: white;
    margin-bottom: 5%;
  }
  #restaurants #les_restaurants .le_restaurant .image_restaurant1, #restaurants #les_restaurants .le_restaurant .image_restaurant2, #restaurants #les_restaurants .le_restaurant .image_restaurant3, #restaurants #les_restaurants .le_restaurant .image_restaurant4 {
    min-width: 100%;
    height: 70%;
    border-top-left-radius: 6%;
    border-top-right-radius: 6%;
    overflow: hidden;
  }
  #restaurants #les_restaurants .le_restaurant .image_restaurant1, #restaurants #les_restaurants .le_restaurant .image_restaurant2 p {
    text-align: center;
  }
  #restaurants #les_restaurants .le_restaurant .image_restaurant1 {
    position: relative;
  }
  #restaurants #les_restaurants .le_restaurant .image_restaurant1 img {
    width: 303.072px;
    height: 202.048px;
    margin: -44px 0 0 -11px;
    position: relative;
    z-index: 1;
  }
  #restaurants #les_restaurants .le_restaurant .image_restaurant1 p {
    position: absolute;
    top: 12px;
    left: 210px;
    width: 70px;
    height: 25px;
    line-height: 2;
    background-color: #99E2D0;
    z-index: 2;
    font-size: 0.8rem;
    color: #008766;
  }
  #restaurants #les_restaurants .le_restaurant .image_restaurant2 {
    position: relative;
  }
  #restaurants #les_restaurants .le_restaurant .image_restaurant2 img {
    width: 296.45px;
    height: 370.44px;
    margin: -130px 0 0 -2px;
    position: relative;
    z-index: 1;
  }
  #restaurants #les_restaurants .le_restaurant .image_restaurant2 p {
    position: absolute;
    top: 12px;
    left: 210px;
    width: 70px;
    height: 25px;
    line-height: 2;
    background-color: #99E2D0;
    z-index: 2;
    font-size: 0.8rem;
    color: #008766;
  }
  #restaurants #les_restaurants .le_restaurant .image_restaurant3 img {
    width: 308.21px;
    height: 205.45px;
    margin: -45px 0 0 -5px;
  }
  #restaurants #les_restaurants .le_restaurant .image_restaurant4 img {
    width: 308.21px;
    height: 205.45px;
    margin: -47px 0 0 -11px;
  }
  #restaurants #les_restaurants .le_restaurant .restaurant1, #restaurants #les_restaurants .le_restaurant .restaurant2, #restaurants #les_restaurants .le_restaurant .restaurant3, #restaurants #les_restaurants .le_restaurant .restaurant4 {
    display: flex;
    flex: wrap;
    justify-content: space-between;
    width: 275px;
    margin-left: 4%;
    margin-right: 35%;
    line-height: 1.5;
    color: black;
  }
  #restaurants #les_restaurants .le_restaurant .restaurant1 .nom_restaurant, #restaurants #les_restaurants .le_restaurant .restaurant2 .nom_restaurant, #restaurants #les_restaurants .le_restaurant .restaurant3 .nom_restaurant, #restaurants #les_restaurants .le_restaurant .restaurant4 .nom_restaurant {
    width: 240px;
  }
  #restaurants #les_restaurants .le_restaurant .coeur_restaurant {
    display: flex;
    margin-top: 10px;
    font-size: 1.2rem;
  }
  #restaurants #les_restaurants .le_restaurant .coeur_restaurant .far {
    /* Couleur dégradé icône coeur */
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 20px;
  }
  #restaurants #les_restaurants .le_restaurant .coeur_restaurant .fas {
    /* Couleur dégradé icône coeur */
    background: linear-gradient(#9356DC, #FF79DA);
    background-clip: text;
    text-fill-color: transparent;
    /* Animation icône coeur */
    position: absolute;
    width: 0;
  }
  #restaurants #les_restaurants .le_restaurant .coeur_restaurant:hover .far {
    width: 0;
  }
  #restaurants #les_restaurants .le_restaurant .coeur_restaurant:hover .fas {
    width: 20px;
    transition: width 1s;
    transition-timing-function: cubic-bezier(0.7, 1, 1, 0.7);
  }

  /* Footer */
  #pied_de_page {
    height: 178px;
    padding-top: 6%;
    background-color: #353535;
    color: white;
  }
  #pied_de_page .logo {
    font-family: "Shrikhand";
    font-size: 0.95rem;
    text-align: left;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  #pied_de_page .menu_pied_de_page {
    font-size: 0.8rem;
    line-height: 1.7;
    margin-left: 5%;
  }
  #pied_de_page .menu_pied_de_page .fas.fa-utensils {
    font-size: 0.7rem;
  }
  #pied_de_page .menu_pied_de_page .fas.fa-hands-helping {
    font-size: 0.5rem;
  }
  #pied_de_page .menu_pied_de_page .fas.fa-utensils, #pied_de_page .menu_pied_de_page .fas.fa-hands-helping {
    margin-right: 1.5%;
  }
  #pied_de_page .menu_pied_de_page .proposer_un_restaurant, #pied_de_page .menu_pied_de_page .devenir_partenaire, #pied_de_page .menu_pied_de_page .mentions_legales, #pied_de_page .menu_pied_de_page .contact {
    color: white;
  }
}

/*# sourceMappingURL=petit_res.css.map */
