@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
* a {
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
  font-family: "Roboto", sans-serif;
  /* Header */
  /* Loading spinner */
  /* Logo */
  /* Logo */
  /* Section */
  /* Fontionnement */
  /* Fontionnement */
  /* Restaurants */
  /* Footer */
  /* Footer */
  /* Pied de page pour page accueil */
  /* Pied de page pour page 4 "La note E=enchantée" */
  /* Footer */
  /* Pied de page pour page contact */
}
body .loading {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 9999;
}
body .loading--full-height {
  width: 100%;
  height: 100%;
  background: rgba(121, 255, 255, 0.5);
  align-items: center;
}
body .loading::after {
  content: "";
  width: 50px;
  height: 50px;
  border: 10px solid #FF79DA;
  border-top-color: #9356DC;
  border-bottom-color: #9356DC;
  border-radius: 50%;
  animation: loading 1s linear infinite;
}
@keyframes loading {
  from {
    transform: rotate(1turn);
  }
}
body .loading {
  visibility: hidden;
  transition: visibility 1s 3s linear;
}
body #titre_principal_accueil {
  padding-top: 1.8%;
  margin-bottom: 1.8%;
}
body #titre_principal_accueil .logo {
  text-align: center;
}
body #titre_principal_accueil .logo img {
  width: 254.8px;
  height: 44.2px;
}
body #titre_principal {
  display: flex;
  justify-content: center;
  padding-top: 2.8%;
  margin-bottom: 2.8%;
}
body #titre_principal .arrow_left {
  margin-right: 100px;
  font-size: 2.5rem;
  text-decoration: none;
  color: black;
}
body #titre_principal .logo img {
  width: 254.8px;
  height: 44.2px;
  margin: 0;
}
@media (max-width: 376px) {
  body {
    /* Logo */
  }
  body #titre_principal_accueil .logo {
    text-align: center;
    padding-top: 3%;
    margin-bottom: 2%;
  }
  body #titre_principal_accueil .logo img {
    width: 148.96px;
    height: 25.84px;
  }
  body #titre_principal {
    flex-wrap: wrap;
    justify-content: left;
  }
  body #titre_principal .arrow_left {
    margin-left: 5%;
    margin-right: 18%;
    margin-top: 3%;
    font-size: 1rem;
  }
  body #titre_principal .logo {
    padding-top: 2%;
    margin-bottom: 1%;
  }
  body #titre_principal .logo img {
    width: 148.96px;
    height: 25.84px;
  }
}
body #localisation {
  display: flex;
  height: 50px;
  border-top: solid 2px #CFCFCF;
  box-shadow: inset 0px 2px #DDDDDD;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  font-size: 1.4rem;
  font-weight: bold;
}
body #localisation #map_maket_alt {
  margin-right: 1em;
}
body #reservez_le_menu {
  height: 260px;
  padding-top: 3%;
  background-color: #F6F6F6;
  text-align: center;
  /* bouton */
}
body #reservez_le_menu br {
  display: none;
}
body #reservez_le_menu h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
body #reservez_le_menu p {
  font-size: 1.3rem;
  margin-bottom: 4%;
}
body #reservez_le_menu .bouton {
  box-shadow: 2px 2px 2px grey;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 2px 2px 2px rgba(82, 81, 81, 0.9);
  align-items: center;
  line-height: 3.2;
  font-weight: bold;
  margin: auto;
  margin-bottom: 3%;
  cursor: pointer;
  transform: scale(1);
  transition: transform 400ms;
}
body #reservez_le_menu .bouton:hover {
  background: linear-gradient(rgba(255, 121, 218, 0.9), rgba(147, 86, 220, 0.9));
  box-shadow: 2px 5px 5px #525151;
}
body #reservez_le_menu .bouton .restaurants {
  color: white;
}
body #reservez_le_menu .bouton {
  width: 15%;
  min-width: 200px;
  height: 50px;
  border-radius: 10rem;
  margin-bottom: 3%;
  font-size: 1rem;
}
body #fonctionnement .cartouche1, body #fonctionnement .cartouche2, body #fonctionnement .cartouche3 {
  height: 60px;
  border-radius: 1rem;
  box-shadow: 5px 5px 15px 5px #E6E6E6;
  background: #F6F6F6;
  line-height: 4;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 1%;
  margin-bottom: 1%;
}
body #fonctionnement .cartouche1 .num_etape, body #fonctionnement .cartouche2 .num_etape, body #fonctionnement .cartouche3 .num_etape {
  position: relative;
  right: 8px;
  padding: 1.5% 3% 1.5% 3%;
  border-radius: 50%;
  background-color: #9356DC;
  font-size: 0.9rem;
  color: white;
  margin-right: 3%;
}
body #fonctionnement .cartouche1 .fas.fa-mobile-alt, body #fonctionnement .cartouche1 .fas.fa-list, body #fonctionnement .cartouche1 .fa-itch-io, body #fonctionnement .cartouche2 .fas.fa-mobile-alt, body #fonctionnement .cartouche2 .fas.fa-list, body #fonctionnement .cartouche2 .fa-itch-io, body #fonctionnement .cartouche3 .fas.fa-mobile-alt, body #fonctionnement .cartouche3 .fas.fa-list, body #fonctionnement .cartouche3 .fa-itch-io {
  font-size: 1.1rem;
  margin-right: 3%;
  color: grey;
}
body #fonctionnement .cartouche1 .etape, body #fonctionnement .cartouche2 .etape, body #fonctionnement .cartouche3 .etape {
  color: black;
}
body #fonctionnement .cartouche3 {
  background: rgba(147, 86, 220, 0.15);
}
body #fonctionnement .cartouche3 .fab.fa-itch-io {
  font-size: 1.1rem;
  margin-right: 6%;
  color: #9356DC;
}
body #fonctionnement {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  padding-top: 2%;
  padding-bottom: 2%;
  justify-content: space-between;
}
body #fonctionnement h2 {
  font-size: 1.4rem;
  margin: auto;
  margin-left: 3%;
}
body #fonctionnement .cartouche1, body #fonctionnement .cartouche2, body #fonctionnement .cartouche3 {
  width: 20%;
  min-width: 250px;
}
body #restaurants {
  height: auto;
  padding-top: 3%;
  background-color: #f6f6f6;
}
body #restaurants h3 {
  font-size: 1.4rem;
  margin-left: 3%;
  margin-bottom: 3%;
}
body #restaurants #les_restaurants {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
body #restaurants #les_restaurants .le_restaurant {
  display: flex;
  flex-wrap: wrap;
  width: 19%;
  min-width: 270px;
  height: 230px;
  border-radius: 6%;
  box-shadow: 5px 5px 15px 5px #E6E6E6;
  background-color: white;
  margin-bottom: 5%;
}
body #restaurants #les_restaurants .le_restaurant .image_restaurant1, body #restaurants #les_restaurants .le_restaurant .image_restaurant2, body #restaurants #les_restaurants .le_restaurant .image_restaurant3, body #restaurants #les_restaurants .le_restaurant .image_restaurant4 {
  min-width: 100%;
  height: 70%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}
body #restaurants #les_restaurants .le_restaurant .image_restaurant1, body #restaurants #les_restaurants .le_restaurant .image_restaurant2 p {
  text-align: center;
}
body #restaurants #les_restaurants .le_restaurant .image_restaurant1 {
  position: relative;
}
body #restaurants #les_restaurants .le_restaurant .image_restaurant1 img {
  width: 393.6px;
  height: 262.4px;
  margin: -65px 0 0 0;
  position: relative;
  z-index: 1;
}
body #restaurants #les_restaurants .le_restaurant .image_restaurant1 p {
  position: absolute;
  top: 12px;
  left: 77%;
  width: 70px;
  height: 25px;
  line-height: 2;
  background-color: #99E2D0;
  z-index: 2;
  font-size: 0.8rem;
  color: #008766;
}
body #restaurants #les_restaurants .le_restaurant .image_restaurant2 {
  position: relative;
}
body #restaurants #les_restaurants .le_restaurant .image_restaurant2 img {
  width: 378px;
  height: 472.5px;
  margin: -175px 0 0 0;
  position: relative;
  z-index: 1;
}
body #restaurants #les_restaurants .le_restaurant .image_restaurant2 p {
  position: absolute;
  top: 12px;
  left: 77%;
  width: 70px;
  height: 25px;
  line-height: 2;
  background-color: #99E2D0;
  z-index: 2;
  font-size: 0.8rem;
  color: #008766;
}
body #restaurants #les_restaurants .le_restaurant .image_restaurant3 img {
  width: 374.17px;
  height: 249.475px;
  margin: -65px 0 0 0;
}
body #restaurants #les_restaurants .le_restaurant .image_restaurant4 img {
  width: 378.225px;
  height: 259.2px;
  margin: -68px 0 0 0;
}
body #restaurants #les_restaurants .le_restaurant .restaurant1, body #restaurants #les_restaurants .le_restaurant .restaurant2, body #restaurants #les_restaurants .le_restaurant .restaurant3, body #restaurants #les_restaurants .le_restaurant .restaurant4 {
  display: flex;
  flex: wrap;
  justify-content: space-between;
  width: 400px;
  margin-left: 4%;
  line-height: 1.5;
  position: relative;
}
body #restaurants #les_restaurants .le_restaurant .restaurant1 .nom_restaurant, body #restaurants #les_restaurants .le_restaurant .restaurant2 .nom_restaurant, body #restaurants #les_restaurants .le_restaurant .restaurant3 .nom_restaurant, body #restaurants #les_restaurants .le_restaurant .restaurant4 .nom_restaurant {
  width: 70%;
}
body #restaurants #les_restaurants .le_restaurant .coeur_restaurant {
  display: flex;
  margin-top: 10px;
  margin-right: 6%;
  font-size: 1.2rem;
}
body #restaurants #les_restaurants .le_restaurant .coeur_restaurant .far {
  /* Couleur dégradé icône coeur */
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 20px;
}
body #restaurants #les_restaurants .le_restaurant .coeur_restaurant .fas {
  /* Couleur dégradé icône coeur */
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Animation icône coeur */
  position: absolute;
  left: 88%;
  width: 0;
}
body #restaurants #les_restaurants .le_restaurant .coeur_restaurant:hover .far {
  width: 0;
}
body #restaurants #les_restaurants .le_restaurant .coeur_restaurant:hover .fas {
  width: 20px;
  transition: width 500ms;
  transition-timing-function: cubic-bezier(0.7, 1, 1, 0.7);
}
body #pied_de_page {
  height: 100%;
  padding-bottom: 2%;
  background-color: #353535;
  color: white;
}
body #pied_de_page .logo {
  font-family: "Shrikhand";
  font-size: 1.5rem;
  text-align: left;
  margin-left: 3%;
  padding-top: 1%;
  margin-bottom: 1%;
}
body #pied_de_page .menu_pied_de_page {
  font-size: 1rem;
  line-height: 1.7;
  margin-left: 3%;
}
body #pied_de_page .menu_pied_de_page .fas.fa-utensils {
  font-size: 1rem;
}
body #pied_de_page .menu_pied_de_page .fas.fa-hands-helping {
  font-size: 0.6rem;
}
body #pied_de_page .menu_pied_de_page .fas.fa-utensils, body #pied_de_page .menu_pied_de_page .fas.fa-hands-helping {
  margin-right: 1%;
}
body #pied_de_page .menu_pied_de_page .proposer_un_restaurant, body #pied_de_page .menu_pied_de_page .devenir_partenaire, body #pied_de_page .menu_pied_de_page .mentions_legales, body #pied_de_page .menu_pied_de_page .contact {
  color: white;
}
@media (max-width: 375px) {
  body {
    /* Footer */
  }
  body #pied_de_page {
    position: absolute;
    top: 1348px;
    width: 100%;
    height: 178px;
    padding-top: 6%;
  }
  body #pied_de_page .logo {
    font-size: 0.95rem;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  body #pied_de_page .menu_pied_de_page {
    font-size: 0.8rem;
    line-height: 1.7;
    margin-left: 5%;
  }
  body #pied_de_page .menu_pied_de_page .fas.fa-utensils {
    font-size: 0.7rem;
  }
  body #pied_de_page .menu_pied_de_page .fas.fa-hands-helping {
    font-size: 0.5rem;
  }
  body #pied_de_page .menu_pied_de_page .fas.fa-utensils, body #pied_de_page .menu_pied_de_page .fas.fa-hands-helping {
    margin-right: 1.5%;
  }
}
@media (max-width: 320px) {
  body {
    /* Footer */
  }
  body #pied_de_page {
    top: 1294px;
  }
}
body #pied_de_page_accueil {
  height: 100%;
  padding-bottom: 2%;
  background-color: #353535;
  color: white;
}
body #pied_de_page_accueil .logo_accueil {
  font-family: "Shrikhand";
  font-size: 1.5rem;
  text-align: left;
  margin-left: 3%;
  padding-top: 1%;
  margin-bottom: 1%;
}
body #pied_de_page_accueil .menu_pied_de_page_accueil {
  font-size: 1rem;
  line-height: 1.7;
  margin-left: 3%;
}
body #pied_de_page_accueil .menu_pied_de_page_accueil .fas.fa-utensils {
  font-size: 1rem;
}
body #pied_de_page_accueil .menu_pied_de_page_accueil .fas.fa-hands-helping {
  font-size: 0.6rem;
}
body #pied_de_page_accueil .menu_pied_de_page_accueil .fas.fa-utensils, body #pied_de_page_accueil .menu_pied_de_page_accueil .fas.fa-hands-helping {
  margin-right: 1%;
}
body #pied_de_page_accueil .menu_pied_de_page_accueil .proposer_un_restaurant, body #pied_de_page_accueil .menu_pied_de_page_accueil .devenir_partenaire, body #pied_de_page_accueil .menu_pied_de_page_accueil .mentions_legales, body #pied_de_page_accueil .menu_pied_de_page_accueil .contact {
  color: white;
}
@media (max-width: 375px) {
  body {
    /* Footer */
  }
  body #pied_de_page_accueil {
    position: absolute;
    top: 1900px;
    width: 100%;
    height: 178px;
    padding-top: 6%;
  }
  body #pied_de_page_accueil .logo_accueil {
    font-size: 0.95rem;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  body #pied_de_page_accueil .menu_pied_de_page_accueil {
    font-size: 0.8rem;
    line-height: 1.7;
    margin-left: 5%;
  }
  body #pied_de_page_accueil .menu_pied_de_page_accueil .fas.fa-utensils {
    font-size: 0.7rem;
  }
  body #pied_de_page_accueil .menu_pied_de_page_accueil .fas.fa-hands-helping {
    font-size: 0.5rem;
  }
  body #pied_de_page_accueil .menu_pied_de_page_accueil .fas.fa-utensils, body #pied_de_page_accueil .menu_pied_de_page_accueil .fas.fa-hands-helping {
    margin-right: 1.5%;
  }
}
@media (max-width: 320px) {
  body {
    /* Footer */
  }
  body #pied_de_page_accueil {
    top: 1850px;
  }
}
body #pied_de_page_note {
  height: 100%;
  padding-bottom: 2%;
  background-color: #353535;
  color: white;
}
body #pied_de_page_note .logo_note {
  font-family: "Shrikhand";
  font-size: 1.5rem;
  text-align: left;
  margin-left: 3%;
  padding-top: 1%;
  margin-bottom: 1%;
}
body #pied_de_page_note .menu_pied_de_page_note {
  font-size: 1rem;
  line-height: 1.7;
  margin-left: 3%;
}
body #pied_de_page_note .menu_pied_de_page_note .fas.fa-utensils {
  font-size: 1rem;
}
body #pied_de_page_note .menu_pied_de_page_note .fas.fa-hands-helping {
  font-size: 0.6rem;
}
body #pied_de_page_note .menu_pied_de_page_note .fas.fa-utensils, body #pied_de_page_note .menu_pied_de_page_note .fas.fa-hands-helping {
  margin-right: 1%;
}
body #pied_de_page_note .menu_pied_de_page_note .proposer_un_restaurant, body #pied_de_page_note .menu_pied_de_page_note .devenir_partenaire, body #pied_de_page_note .menu_pied_de_page_note .mentions_legales, body #pied_de_page_note .menu_pied_de_page_note .contact {
  color: white;
}
@media (max-width: 375px) {
  body {
    /* Footer */
  }
  body #pied_de_page_note {
    position: absolute;
    top: 1400px;
    width: 100%;
    height: 178px;
    padding-top: 6%;
  }
  body #pied_de_page_note .logo_note {
    font-size: 0.95rem;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  body #pied_de_page_note .menu_pied_de_page_note {
    font-size: 0.8rem;
    line-height: 1.7;
    margin-left: 5%;
  }
  body #pied_de_page_note .menu_pied_de_page_note .fas.fa-utensils {
    font-size: 0.7rem;
  }
  body #pied_de_page_note .menu_pied_de_page_note .fas.fa-hands-helping {
    font-size: 0.5rem;
  }
  body #pied_de_page_note .menu_pied_de_page_note .fas.fa-utensils, body #pied_de_page_note .menu_pied_de_page_note .fas.fa-hands-helping {
    margin-right: 1.5%;
  }
}
@media (max-width: 320px) {
  body {
    /* Footer */
  }
  body #pied_de_page_note {
    top: 1390px;
  }
}
body #pied_de_page_contact {
  height: 100%;
  padding-bottom: 2%;
  background-color: #353535;
  color: white;
}
body #pied_de_page_contact .logo_contact {
  font-family: "Shrikhand";
  font-size: 1.5rem;
  text-align: left;
  margin-left: 3%;
  padding-top: 1%;
  margin-bottom: 1%;
}
body #pied_de_page_contact .menu_pied_de_page_contact {
  font-size: 1rem;
  line-height: 1.7;
  margin-left: 3%;
}
body #pied_de_page_contact .menu_pied_de_page_contact .fas.fa-utensils {
  font-size: 1rem;
}
body #pied_de_page_contact .menu_pied_de_page_contact .fas.fa-hands-helping {
  font-size: 0.6rem;
}
body #pied_de_page_contact .menu_pied_de_page_contact .fas.fa-utensils, body #pied_de_page_contact .menu_pied_de_page_contact .fas.fa-hands-helping {
  margin-right: 1%;
}
body #pied_de_page_contact .menu_pied_de_page_contact .proposer_un_restaurant, body #pied_de_page_contact .menu_pied_de_page_contact .devenir_partenaire, body #pied_de_page_contact .menu_pied_de_page_contact .mentions_legales, body #pied_de_page_contact .menu_pied_de_page_contact .contact {
  color: white;
}
@media (max-width: 375px) {
  body {
    /* Footer */
  }
  body #pied_de_page_contact {
    position: absolute;
    top: 400px;
    width: 100%;
    height: 178px;
    padding-top: 6%;
  }
  body #pied_de_page_contact .logo_accueil {
    font-size: 0.95rem;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  body #pied_de_page_contact .menu_pied_de_page_contact {
    font-size: 0.8rem;
    line-height: 1.7;
    margin-left: 5%;
  }
  body #pied_de_page_contact .menu_pied_de_page_contact .fas.fa-utensils {
    font-size: 0.7rem;
  }
  body #pied_de_page_contact .menu_pied_de_page_contact .fas.fa-hands-helping {
    font-size: 0.5rem;
  }
  body #pied_de_page_contact .menu_pied_de_page_contact .fas.fa-utensils, body #pied_de_page_contact .menu_pied_de_page_contact .fas.fa-hands-helping {
    margin-right: 1.5%;
  }
}
@media (max-width: 320px) {
  body {
    /* Footer */
  }
  body #pied_de_page_contact {
    top: 390px;
  }
}

@media (min-width: 376px) and (max-width: 1536px) {
  body {
    /* Restaurants */
  }
  body #restaurants #les_restaurants .le_restaurant .image_restaurant1 {
    position: relative;
  }
  body #restaurants #les_restaurants .le_restaurant .image_restaurant1 img {
    width: 303.072px;
    height: 202.048px;
    margin: -42px 0 0 0;
    position: relative;
    z-index: 1;
  }
  body #restaurants #les_restaurants .le_restaurant .image_restaurant1 p {
    left: 70%;
  }
  body #restaurants #les_restaurants .le_restaurant .image_restaurant2 {
    position: relative;
  }
  body #restaurants #les_restaurants .le_restaurant .image_restaurant2 img {
    width: 296.352px;
    height: 370.44px;
    margin: -130px 0 0 -2px;
    position: relative;
    z-index: 1;
  }
  body #restaurants #les_restaurants .le_restaurant .image_restaurant2 p {
    left: 70%;
  }
  body #restaurants #les_restaurants .le_restaurant .image_restaurant3 img {
    width: 308.14px;
    height: 205.45px;
    margin: -45px 0 0 -5px;
  }
  body #restaurants #les_restaurants .le_restaurant .image_restaurant4 img {
    width: 307.623px;
    height: 210.816px;
    margin: -47px 0 0 -11px;
  }
  body #restaurants #les_restaurants .le_restaurant .restaurant1, body #restaurants #les_restaurants .le_restaurant .restaurant2, body #restaurants #les_restaurants .le_restaurant .restaurant3, body #restaurants #les_restaurants .le_restaurant .restaurant4 {
    display: flex;
    flex: wrap;
    justify-content: space-between;
    width: 95%;
    margin-left: 4%;
    line-height: 1.5;
    position: relative;
    color: black;
  }
  body #restaurants #les_restaurants .le_restaurant .restaurant1 .nom_restaurant, body #restaurants #les_restaurants .le_restaurant .restaurant2 .nom_restaurant, body #restaurants #les_restaurants .le_restaurant .restaurant3 .nom_restaurant, body #restaurants #les_restaurants .le_restaurant .restaurant4 .nom_restaurant {
    width: 70%;
  }
}
@media (max-width: 376px) {
  body {
    /* Section */
    /* Fontionnement */
    /* Fontionnement */
    /* Restaurants */
  }
  body #localisation {
    font-size: 0.9rem;
  }
  body #reservez_le_menu {
    height: 260px;
    padding-top: 11%;
    background-color: #F6F6F6;
    margin-bottom: 5%;
    /* bouton */
  }
  body #reservez_le_menu br {
    display: block;
  }
  body #reservez_le_menu h1 {
    font-size: 1.45rem;
    font-weight: bold;
    margin-bottom: 3%;
  }
  body #reservez_le_menu p {
    font-size: 1rem;
    margin-bottom: 8%;
  }
  body #reservez_le_menu .bouton {
    box-shadow: 2px 2px 2px grey;
    background: linear-gradient(#ff79da, #9356dc);
    box-shadow: 2px 2px 2px rgba(82, 81, 81, 0.9);
    align-items: center;
    line-height: 3.2;
    font-weight: bold;
    margin: auto;
    margin-bottom: 3%;
    cursor: pointer;
    transform: scale(1);
    transition: transform 400ms;
  }
  body #reservez_le_menu .bouton:hover {
    background: linear-gradient(rgba(255, 121, 218, 0.9), rgba(147, 86, 220, 0.9));
    box-shadow: 2px 5px 5px #525151;
  }
  body #reservez_le_menu .bouton .restaurants {
    color: white;
  }
  body #reservez_le_menu .bouton {
    width: 60%;
    height: 46px;
    border-radius: 10rem;
    font-size: 0.9rem;
  }
  body #fonctionnement .cartouche1, body #fonctionnement .cartouche2, body #fonctionnement .cartouche3 {
    height: 60px;
    border-radius: 1rem;
    box-shadow: 5px 5px 15px 5px #E6E6E6;
    background: #F6F6F6;
    line-height: 4;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  body #fonctionnement .cartouche1 .num_etape, body #fonctionnement .cartouche2 .num_etape, body #fonctionnement .cartouche3 .num_etape {
    position: relative;
    right: 8px;
    padding: 1.5% 3% 1.5% 3%;
    border-radius: 50%;
    background-color: #9356DC;
    font-size: 0.9rem;
    color: white;
    margin-right: 3%;
  }
  body #fonctionnement .cartouche1 .fas.fa-mobile-alt, body #fonctionnement .cartouche1 .fas.fa-list, body #fonctionnement .cartouche1 .fa-itch-io, body #fonctionnement .cartouche2 .fas.fa-mobile-alt, body #fonctionnement .cartouche2 .fas.fa-list, body #fonctionnement .cartouche2 .fa-itch-io, body #fonctionnement .cartouche3 .fas.fa-mobile-alt, body #fonctionnement .cartouche3 .fas.fa-list, body #fonctionnement .cartouche3 .fa-itch-io {
    font-size: 1.1rem;
    margin-right: 3%;
    color: grey;
  }
  body #fonctionnement .cartouche1 .etape, body #fonctionnement .cartouche2 .etape, body #fonctionnement .cartouche3 .etape {
    color: black;
  }
  body #fonctionnement .cartouche3 {
    background: rgba(147, 86, 220, 0.15);
  }
  body #fonctionnement .cartouche3 .fab.fa-itch-io {
    font-size: 1.1rem;
    margin-right: 6%;
    color: #9356DC;
  }
  body #fonctionnement {
    height: 355px;
  }
  body #fonctionnement h2 {
    margin-left: 6%;
    margin-bottom: 10%;
  }
  body #fonctionnement .cartouche1, body #fonctionnement .cartouche2, body #fonctionnement .cartouche3 {
    width: 85%;
    font-size: 0.9rem;
  }
  body #fonctionnement .cartouche1 .num_etape, body #fonctionnement .cartouche2 .num_etape, body #fonctionnement .cartouche3 .num_etape {
    font-size: 0.7rem;
  }
  body #fonctionnement .cartouche1 .fas.fa-mobile-alt, body #fonctionnement .cartouche1 .fas.fa-list, body #fonctionnement .cartouche2 .fas.fa-mobile-alt, body #fonctionnement .cartouche2 .fas.fa-list, body #fonctionnement .cartouche3 .fas.fa-mobile-alt, body #fonctionnement .cartouche3 .fas.fa-list {
    margin-right: 6%;
  }
  body #fonctionnement .cartouche3 {
    line-height: 4.4;
    margin: 0 auto;
    margin-bottom: 8%;
  }
  body #restaurants {
    height: 1125px;
    padding-top: 15%;
  }
  body #restaurants h3 {
    margin-left: 6%;
    margin-bottom: 6%;
  }
  body #restaurants #les_restaurants .le_restaurant {
    width: 90%;
  }
  body #restaurants #les_restaurants .le_restaurant .image_restaurant1 img {
    width: 354.24px;
    height: 236.16px;
    margin: -50px 0 0 0;
  }
  body #restaurants #les_restaurants .le_restaurant .image_restaurant1 p {
    left: 255px;
  }
  body #restaurants #les_restaurants .le_restaurant .image_restaurant2 img {
    width: 362.88px;
    height: 453.6px;
    margin: -145px 0 0 -20px;
  }
  body #restaurants #les_restaurants .le_restaurant .image_restaurant2 p {
    left: 255px;
  }
  body #restaurants #les_restaurants .le_restaurant .image_restaurant3 img {
    width: 352.16px;
    height: 234.8px;
    margin: -75px 0 0 0px;
  }
  body #restaurants #les_restaurants .le_restaurant .image_restaurant4 img {
    width: 353.01px;
    height: 241.92px;
    margin: -55px 0 0 -5px;
  }
}
@media (max-width: 320px) {
  body {
    /* Restaurants */
  }
  body #restaurants #les_restaurants .le_restaurant .image_restaurant1 img {
    width: 303.072px;
    height: 202.048px;
    margin: -50px 0 0 0;
  }
  body #restaurants #les_restaurants .le_restaurant .image_restaurant1 p {
    left: 210px;
  }
  body #restaurants #les_restaurants .le_restaurant .image_restaurant2 img {
    width: 317.52px;
    height: 396.9px;
    margin: -145px 0 0 -20px;
  }
  body #restaurants #les_restaurants .le_restaurant .image_restaurant2 p {
    left: 210px;
  }
  body #restaurants #les_restaurants .le_restaurant .image_restaurant3 img {
    width: 308.14px;
    height: 205.45px;
    margin: -45px 0 0 -10px;
  }
  body #restaurants #les_restaurants .le_restaurant .image_restaurant4 img {
    width: 302.58px;
    height: 207.36px;
    margin: -55px 0 0 -5px;
  }
}

/*# sourceMappingURL=style.css.map */
