@media (min-width: 320px) and (max-width: 375px){

    /* Header */

    /* Logo */

    $largeurlogo: 392px;
    $hauteurlogo: 68px;
    .logo{
        img{
            width: $largeurlogo * 0.40;
            height: $hauteurlogo * 0.41;
        }
        text-align: center;
        padding-top: 3.5%;
        margin-bottom: 3.5%;
    }

    /* Section */
        section{
            display: flex;
            height: 336px;
            background-color: #EAEAEA;
            h1{
                text-align: center;
                margin: auto;
            }
        }

    /* Footer */

    #pied_de_page{
        height: 178px;
        padding-top: 6%;
        background-color: #353535;
        color: white;
        .logo{
            font-family:  'Shrikhand';
            font-size: 0.95rem;
            text-align: left;
            margin-left: 5%;
            margin-bottom: 5%;
        }
        .menu_pied_de_page{
            font-size: 0.8rem;
            line-height: 1.7;
            margin-left: 5%;
            .fas.fa-utensils{
                font-size: 0.7rem;
            }
            .fas.fa-hands-helping{
                font-size: 0.5rem;
            }
            $marge_droit_petite_icone: 1.5%;
            .fas.fa-utensils, .fas.fa-hands-helping{
                margin-right: $marge_droit_petite_icone;
            }
            .proposer_un_restaurant, .devenir_partenaire, .mentions_legales, .contact{
                color: white;
            }
        }
    }

}