@media (min-width: 320px) and (max-width: 375px){
    
    /* Header */

    #titre_principal{
        display: flex;
        .arrow_left{
            margin-left: 5%;
            margin-right: 17%;
            margin-top: 6%;
        }
        $largeurlogo: 392px;
        $hauteurlogo: 68px;
        .logo{
            img{
                width: $largeurlogo * 0.37;
                height: $hauteurlogo * 0.38;
            }
            margin-top: 5.5%;
            margin-bottom: 2.5%;
        }
    }

    /* Section */

    .image_restaurant{
        height: 10%;
        overflow: hidden;
    }
    .image_restaurant img{
        width: 332.75px;
        height: 415.8px;
        margin: -85px 0 0 -10px;
    }

    /* Bloc Menu */

    #nom_restaurant{
        position: relative;
        top: -140px;
        display: flex;
        flex-wrap: wrap;
        height: 1020px;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;     
        background-color: #F6F6F6;
        h1{
            font-family: 'Shrikhand';
            font-size: 1.5rem;
            padding-top: 9%;
            padding-bottom: 8%;
            margin-left: 5%;
        }
        .far.fa-heart{
            padding-top: 10%;
            margin-left: 9%;
            font-size: 1.4rem;
        }
        #menu_restaurant{
            width: 100%;
            .groupe_entree{
                width: 90%;
                height: 335px;
                margin-left: 5%;
                margin-bottom: 8%;
                background-color: #F6F6F6;
            }
            .groupe_plats, .groupe_dessert{
                width: 90%;
                height: 250px;
                margin-left: 5%;
                margin-bottom: 8%;
                background-color: #F6F6F6;
            }

            /* Les plats apparaissent par groupe "Entrée"; "Plat" et "Dessert" */

            .groupe_entree{
                animation-delay: 10ms;
                animation: fadein 1s;
                @keyframes fadein{
                    from{
                        opacity: 0;
                   }
                    to{
                        opacity: 1;
                    }
                }
            }
            
            .groupe_plats{
                animation-delay: 200ms;
                animation: fadein 3s;
                @keyframes fadein{
                    from{
                        opacity: 0;
                   }
                    to{
                        opacity: 1;
                    }
                }
            }

            .groupe_dessert{
                animation-delay: 800ms;
                animation: fadein 5s;
                @keyframes fadein{
                    from{
                        opacity: 0;
                   }
                    to{
                        opacity: 1;
                    }
                }
            }

            .groupe_entree, .groupe_plats, .groupe_dessert{   
                h2{
                    width: 13%;
                    padding-bottom: 1.5%;
                    margin-bottom: 4%;
                    border-bottom: solid 2px #99E2D0;
                    font-size: 0.9rem;
                    color: #9A9A9A;
                }
                .plat{
                    display: flex;
                    justify-content: space-between;
                    height: 62px;
                    padding-left: 3%;
                    margin-bottom: 4%;
                    border-radius: 15px;
                    box-shadow: 5px 5px 15px 5px #E6E6E6;
                    background-color: white;
                    font-size: 0.8rem;
                    line-height: 1.6;
                    .nom_plat{
                        display: inline-block;
                        width: 250px;
                        padding-top: 2.5%;
                        position: relative;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        .titre_plat{
                            font-size: 1rem;
                            font-weight: bold;
                        }
                    }
                    .prix{
                        width: 19%;
                        height: 55px;
                        padding-top: 11.5%;
                        text-align: center;
                    }
                    .choix{
                        width: 0;
                        height: 62px;
                        border-top-right-radius: 15px;
                        border-bottom-right-radius: 15px;
                        background-color: #99E2D0;
                        font-size: 1rem;
                        color: white;
                        text-align: center;
                        line-height: 4;
                    }
                    &:hover .choix{
                        width: 22%;
                        transition: width 1s cubic-bezier(0.1, 0.1, 0.1, 1);
                    }
                    .fas{
                        visibility: hidden;
                    }
                    &:hover .fas{
                        visibility: visible;
                        transform: rotate(360deg);
                        transition: transform 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                    }
                }
            }
        }
        $cd-btn-start: linear-gradient(rgba(255, 121, 218, 1),rgba(147, 86, 220, 1));
        $cd-btn-end: linear-gradient(rgba(255, 121, 218, 0.9),rgba(147, 86, 220, 0.9));
        $cd-bdr-start: 2px 2px 2px rgb(82, 81, 81, 0.9);
        $cd-bdr-end: 2px 5px 5px rgb(82, 81, 81, 1);
        $cd-txt: white;
        .bouton{
            width: 50%;
            height: 46px;
            border-radius: 10rem;
            background: $cd-btn-start;
            box-shadow: $cd-bdr-start;
            text-align: center;
            line-height: 3.2;
            font-size: 0.9rem;
            margin: auto;
            margin-top: 10%;
            margin-bottom: 10%;
            cursor: pointer;
            transition: all 400ms;
            &:hover{
                background: $cd-btn-end;
                box-shadow: $cd-bdr-end;
            }
            .commander{
                color:$cd-txt;
            }
        }
    }

    /* Footer */

    #pied_de_page{
        position: relative;
        top: -50px;
        height: 170px;
        padding-top: 6%;
        background-color: #353535;
        color: white;
        .logo{
            font-family:  'Shrikhand';
            font-size: 0.95rem;
            text-align: left;
            margin-left: 5%;
            margin-bottom: 5%;
        }
        .menu_pied_de_page{
            font-size: 0.8rem;
            line-height: 1.7;
            margin-left: 5%;
            .fas.fa-utensils{
                font-size: 0.7rem;
            }
            .fas.fa-hands-helping{
                font-size: 0.5rem;
            }
            $marge_droit_petite_icone: 1.5%;
            .fas.fa-utensils, .fas.fa-hands-helping{
                margin-right: $marge_droit_petite_icone;
            }
            .proposer_un_restaurant, .devenir_partenaire, .mentions_legales, .contact{
                color: white;
            }
        }
    }
}

@media (width: 375px){
     /* Section */

     #nom_restaurant{
        top: -160px;
        .far.fa-heart{
            margin-left: 20%;
        }
     }

    .image_restaurant img{
        width: 384.175px;
        height: 480.06px;
        margin: -95px 0 0 0;
    }
 
    /* Footer */

  #pied_de_page{
    position: relative;
    top: -38px;
  }
}